FROM %USER%/debian-stable-minimal
MAINTAINER Panu Kalliokoski <panu.kalliokoski@csc.fi>
RUN apt-get -y update && apt-get -y install python python-flask
RUN useradd flaskuser
USER flaskuser
WORKDIR /home/flaskuser
CMD ["python"]
